[Unit]
Description=AC Server Manager Setup Wizard
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/ac-setup
ExecStart=/bin/node /opt/ac-setup/setup-server.js
ExecStopPost=-/bin/bash -c 'sleep 2 && systemctl restart pm2-root'
Restart=no
StandardOutput=append:/var/log/ac-setup.log
StandardError=append:/var/log/ac-setup.log

[Install]
WantedBy=multi-user.target
